html {
    overflow: hidden;
    height: 100%;
}
body {
    overflow: auto;
    height: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url("/BG.jpg");
}
button {
    font-size: 50px;
    background-color: #d4a24e;
    color: #1a1a2e;
    border: none;
    border-radius: 20px;
    padding: 8px;
    margin: 20px;
    cursor: pointer;
}
svg {
    width: 40px;
    height: 40px;
}
.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item {
    background-color: #d4a24e;
    border: black 5px solid;
    position: relative;
    padding: 10px;
    margin: 10px;
    min-width: 100px;
    min-height: 20px;
    font-size: 30px;
}
.item button {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: -15px;
    right: 3px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.item button:hover {
    color: red;
}
.item a, .item a:visited, .item a:active {
    color: #000000;
    text-decoration: none;
}
.item a:hover {
    color: #0f0fc2;
}
#csvNote {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #0f0fc2;
}
#csvNote a, #csvNote a:visited, #csvNote a:active {
    color: #0f0fc2;
}
#aboutPopUp {
    display: none;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: #f5dcaf;
    color: #1a1a2e;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    z-index: 10;
}
#aboutPopUp h1 {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 45px;
}
#aboutPopUp p {
    text-align: left;
    margin-bottom: 5px;
    margin-bottom: 10px;
}
#aboutPopUp ul {
    text-align: left;
}
#aboutPopUp li {
    margin-bottom: 7px;
}

#aboutPopUp hr {
    margin-bottom: 20px;
}
#aboutPopUp button {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 10px; right: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
#aboutPopUp button:hover {
    color: red;
}
#aboutPopUp .svgico {
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 10px;
}
.csvfile button {
    font-size: 30px;
    background-color: #d4a24e;
    color: #1a1a2e;
    border: none;
    border-radius: 20px;
    padding: 8px;
    margin: 30px;
    cursor: pointer;
}